$primary: #89dcfb;
$secondary: #82AAFF;
$tertiary: #C792DF;
$highlight: #DA70B8;
$light: #C3E88D;
$shadow: #263238;
$dark: #192227;
$accent: #f9ce62;
$negative: #ffffff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    height: 100vh;
    background-color: $dark;
    color: $negative;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
p {
    color: $negative;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 48px;
    font-weight: 300;
}

p {
    font-size: 18px;
    font-weight: 400;
}

#clock {
    display: flex;

    div {
        padding: 40px;
        background-color: $shadow;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 20px 2px #000000;
        transform: scale(1);
        transition: all 0.2s ease;

        p {
            color: transparentize($negative, 0.8);
        }

        &:hover {
            transform: scale(1.1);
            background: linear-gradient(45deg, #C3E88D 0%, #f9ce62 100%);
            h1, p {
                color: $dark;
            }
        }
    }

    div:first-child {
        border-bottom-left-radius: 40px;
    }

    div:last-child {
        border-top-right-radius: 40px;
    }
}


@media (max-width: 575.98px) {
    #clock {
        flex-direction: column;
    
    div:first-child {
        border-top-left-radius: 40px;
        border-bottom-left-radius: 0px;
    }

    div:last-child {
        border-bottom-right-radius: 40px;
        border-top-right-radius: 0px;
    }

    }
}